
<!-- ======= About Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>About Us</h1>
        <h2>Voila!! We at Skyosys love working with growing businesses that are modern, adaptive and think
          outside the
          box.</h2>
      </div>
    </div>
    <div class="text-center">
      <a href="/about" class="btn-get-started scrollto">Get Started</a>
    </div>
    
</div>
</section>

<!-- End About Section -->

<!-- ======= Counts Section ======= -->
<!-- <section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-toggle="counter-up">65</span>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-toggle="counter-up">85</span>
                    <p>Projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-toggle="counter-up">12</span>
                    <p>Years of experience</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-toggle="counter-up">15</span>
                    <p>Awards</p>
                </div>
            </div>

        </div>

    </div>
</section> -->
<!-- End Counts Section -->


<!-- ======= About Video Section ======= -->
<section id="about-video" class="about-video">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                <img src="/images/about-video.jpg" class="img-fluid" alt="">
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
                    data-autoplay="true"></a> -->
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                    </li>
                    <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.
                    </li>
                    <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute
                        irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                        pariatur.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

        </div>

    </div>
</section>  
<!-- End About Video Section -->