<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>Want to grow your business online?</h1>
        <h2>Voila!! We at Skyosys love working with growing businesses that are modern, adaptive and think
          outside the
          box.</h2>
      </div>
    </div>
    <div class="text-center">
      <a href="/about" class="btn-get-started scrollto">Get Started</a>
    </div>

    <div class="row icon-boxes">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-centos-fill"></i></div>
          <h4 class="title"><a href="">Application Maintenance</a></h4>
          <p class="description">We make sure your Web Application stays Up-to-date.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="ri-user-follow-fill"></i></div>
          <h4 class="title"><a href="">Advisory Consulting</a></h4>
          <p class="description">We provide strategies for you to grow your business online.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="ri-git-repository-commits-fill"></i></div>
          <h4 class="title"><a href="">Project Management</a></h4>
          <p class="description">Expect the best, plan for the worst, and prepare to be surprised.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="icon-box">
          <div class="icon"><i class="ri-code-box-fill"></i></div>
          <h4 class="title"><a href="">Product Development</a></h4>
          <p class="description">We understand the product concept and create a prototype based on your requirements. 
            <!-- defining the architecture, in the software and hardware environment of choice.  -->
            <!-- On agreeing to the estimates, 
            customers can keep all the Intellectual Property rights for the product and can get a developed 
            and tested product with minimal cost. -->
          </p>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Hero -->





  <!-- ======= Clients Section ======= -->
  <!-- <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-4.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-5.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
          <img src="/images/clients/client-6.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section> -->
  <!-- End Clients Section -->